<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="TitleOfDashboard">QR Code Generator</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/qr-code-styling@1.5.0/lib/qr-code-styling.js"></script>

</head>

<body class="<%= (user && user.role === 'admin') ? 'admin-body' : 'regular-body' %>">



    <% if (user.role==="admin" ) { %>
        <!-- Include the Navbar Partial -->
        <%- include('../components/navbar') %>
            <% } %>

                <% if (user.role !=="admin" ) { %>


                    <% if (user.role==="demo-user" ) { %>
                        <button class="menu-toggle">☰</button>
                        <div class="side-menu">
                            <button class="menu-close">×</button>
                            <div class="menu-item" data-section="show" id="myQRCodes"><img
                                    src="/images/ICONS FOLDER.png" alt="Create QR Code" class="menu-icon" />
                                <span class="menu-text">Show my QR Codes</span>
                            </div>
                            <div class="menu-item" data-section="profile" id="profile"><img
                                    src="/images/ICONS CHANGE CREDENTIALS.png" alt="Create QR Code" class="menu-icon" />
                                <span class="menu-text">Profile</span>
                            </div>
                            <div class="menu-item" data-section="usercontrol" id="usercontrol"><img
                                    src="/images/ICONS WHAT TO SHOW ME-.png" alt="Create QR Code" class="menu-icon" />
                                <span class="menu-text">User Control</span>
                            </div>
                            <% } else { %>
                                <button class="menu-toggle">☰</button>
                                <div class="side-menu">
                                    <button class="menu-close">×</button>
                                    <div class="menu-item active" data-section="generate" id="CreateQRCode">
                                        <img src="/images/ICONS CREATE.png" alt="Create QR Code" class="menu-icon" />
                                        <span class="menu-text">Create QR Code</span>
                                    </div>
                                    <div class="menu-item" data-section="show" id="myQRCodes"><img
                                            src="/images/ICONS FOLDER.png" alt="Create QR Code" class="menu-icon" />
                                        <span class="menu-text">Show my QR Codes</span>
                                    </div>
                                    <div class="menu-item" data-section="profile" id="profile"><img
                                            src="/images/ICONS CHANGE CREDENTIALS.png" alt="Create QR Code"
                                            class="menu-icon" />
                                        <span class="menu-text">Profile</span>
                                    </div>
                                    <div class="menu-item" data-section="usercontrol" id="usercontrol"><img
                                            src="/images/ICONS WHAT TO SHOW ME-.png" alt="Create QR Code"
                                            class="menu-icon" />
                                        <span class="menu-text">User Control</span>
                                    </div>
                                    <% } %>
                                </div>
                                <% } %>
                                    <div class="main-content">
                                        <header class="header">
                                            <img src="/logo.jpeg" alt="Header Image" class="header-image"
                                                onclick="OpenSite()">
                                        </header>

                                        <%- include('../components/loader') %>
                                            <!-- <h1 class="fade-in">QR Code Generator</h1> -->
                                            <% if (activeSection==='generate' ) { %>
                                                <div id="generate-section" class="fade-in"
                                                    style="<%= activeSection === 'generate' ? '' : 'display: none;' %>">
                                                    <div class="input-group">
                                                        <label for="qr-name" id="QRCodeNameLang">QR Code Name:</label>
                                                        <input type="text" id="qr-name" placeholder="Namen eingeben">
                                                    </div>
                                                    <div class="input-group">
                                                        <label for="qr-type" id="QRContentLang">QR Code Content:</label>
                                                        <select id="qr-type">
                                                            <option value="media" id="MediaLangPhoto">Foto/Video
                                                            </option>
                                                            <option value="text" id="TextLangChoose">Text</option>
                                                            <option value="url" id="LinkLangChoose">Link</option>
                                                        </select>
                                                    </div>
                                                    <div class="input-group" style="display: none;">
                                                        <label for="qr-type" id="QRLogoLabel">Logo</label>
                                                        <select id="QRLogo">
                                                            <option value="1">Logo1</option>
                                                            <option value="2">Logo2</option>
                                                            <option value="3">Logo3</option>
                                                        </select>
                                                    </div>
                                                    <input type="hidden" id="qrCodePrintData">
                                                    <div id="input-fields"></div>
                                                    <div class="input-group" style="display: none;">
                                                        <label for="qr-text">Text or URL:</label>
                                                        <input type="text" id="qr-text" placeholder="Enter text or URL">
                                                    </div>
                                                    <div class="input-group" style="display: none;">
                                                        <label for="qr-code-key">Code</label>
                                                        <input type="text" id="qr-code-key" placeholder="Code">
                                                    </div>
                                                    <div class="input-group" style="display: none;">
                                                        <label for="qr-color" id="CodeColorLang">Code Color:</label>
                                                        <input type="color" id="qr-color" value="#000000">
                                                    </div>
                                                    <div class="input-group" style="display: none;">
                                                        <label for="bg-color" id="BackgroundColorLang">Background
                                                            Color:</label>
                                                        <input type="color" id="bg-color" value="#ffffff">
                                                    </div>

                                                    <div class="input-group"
                                                        style="<%= user.role === 'demo-user' ? 'display: none;' : '' %>">

                                                        <div class="radio-group">
                                                            <input type="radio" id="first" name="ColorList"
                                                                value="first" checked onchange="ChangeLists()"
                                                                onclick="ChangeLists()">
                                                            <label for="first" id="KeepBGText">Keep Background</label>

                                                            <input type="radio" id="second" name="ColorList"
                                                                value="second" onchange="ChangeLists()"
                                                                onclick="ChangeLists()">
                                                            <label for="second" id="RemoveBGText">Remove
                                                                Background</label>
                                                        </div>

                                                        <div class="LabelsName" id="ForegroundColorText">
                                                            Foreground Color:
                                                        </div>

                                                        <div class="container" id="FgColorsDiv">
                                                            <div class="color-box" style="background-color: #ff0093;"
                                                                data-color="#ff0093">
                                                                <input type="radio" name="color" id="magenta"
                                                                    value="#ff0093">
                                                                <label for="magenta"></label>
                                                                <span class="color-name">MAGENTA</span>
                                                            </div>

                                                            <div class="color-box" style="background-color: #835ec7;"
                                                                data-color="#835ec7">
                                                                <input type="radio" name="color" id="violet"
                                                                    value="#835ec7">
                                                                <label for="violet"></label>
                                                                <span class="color-name">VIOLET</span>
                                                            </div>

                                                            <div class="color-box" style="background-color: #00b760;"
                                                                data-color="#00b760">
                                                                <input type="radio" name="color" id="grun"
                                                                    value="#00b760">
                                                                <label for="grun"></label>
                                                                <span class="color-name">GRÜN</span>
                                                            </div>

                                                            <div class="color-box" style="background-color: #fc70ba;"
                                                                data-color="#fc70ba">
                                                                <input type="radio" name="color" id="pink"
                                                                    value="#fc70ba">
                                                                <label for="pink"></label>
                                                                <span class="color-name">PINK</span>
                                                            </div>

                                                            <div class="color-box" style="background-color: #1c00ff;"
                                                                data-color="#1c00ff">
                                                                <input type="radio" name="color" id="blau"
                                                                    value="#1c00ff">
                                                                <label for="blau"></label>
                                                                <span class="color-name">BLAU</span>
                                                            </div>

                                                            <div class="color-box" style="background-color: #ff0000;"
                                                                data-color="#ff0000">
                                                                <input type="radio" name="color" id="rot"
                                                                    value="#ff0000">
                                                                <label for="rot"></label>
                                                                <span class="color-name">ROT</span>
                                                            </div>

                                                            <div class="color-box" style="background-color: #ffc62c;"
                                                                data-color="#ffc62c">
                                                                <input type="radio" name="color" id="orange"
                                                                    value="#ffc62c">
                                                                <label for="orange"></label>
                                                                <span class="color-name">ORANGE</span>
                                                            </div>

                                                            <div class="color-box" style="background-color: #00aeef;"
                                                                data-color="#00aeef">
                                                                <input type="radio" name="color" id="cyan"
                                                                    value="#00aeef">
                                                                <label for="cyan"></label>
                                                                <span class="color-name">CYAN</span>
                                                            </div>

                                                            <div class="color-box" style="background-color: #fefe00;"
                                                                data-color="#fefe00">
                                                                <input type="radio" name="color" id="gelb"
                                                                    value="#fefe00">
                                                                <label for="gelb"></label>
                                                                <span class="color-name">GELB</span>
                                                            </div>

                                                            <div class="color-box"
                                                                style="background-color: #ffffff; border: 1px solid #ccc;"
                                                                data-color="#ffffff">
                                                                <input type="radio" name="color" id="weiss"
                                                                    value="#ffffff">
                                                                <label for="weiss"></label>
                                                                <span class="color-name">WEISS</span>
                                                            </div>


                                                            <div class="color-box" style="background-color: #4cced1;"
                                                                data-color="#4cced1">
                                                                <input type="radio" name="color" id="turquoise"
                                                                    value="#4cced1">
                                                                <label for="turquoise"></label>
                                                                <span class="color-name">TURQUOISE</span>
                                                            </div>
                                                        </div>

                                                        <div class="LabelsName" id="BackgroundColorText">
                                                            Background Color:
                                                        </div>

                                                        <div class="container" id="BgColorDiv">

                                                        </div>

                                                        <div class="dropdown-container" style="display: none;">
                                                            <label for="fgColor">Foreground Color:</label>
                                                            <div>
                                                                <select id="fgColor"
                                                                    onchange="updateBgColors(); updatePreview();"
                                                                    onclick="updateBgColors(); updatePreview();">
                                                                </select>
                                                            </div>

                                                            <label for="bgColor">Background Color:</label>
                                                            <div>
                                                                <select id="bgColor" onchange="updatePreview()">
                                                                </select>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="input-group" style="display: none;">
                                                        <label for="dot-style">Dot Style:</label>
                                                        <select id="dot-style">
                                                            <option value="square">Square</option>
                                                            <option value="rounded" selected>Rounded</option>
                                                            <option value="dots">Dots</option>
                                                            <option value="classy">Classy</option>
                                                            <option value="hexagon">Hexagon</option>
                                                            <option value="star">Star</option>
                                                            <option value="circle">Circle</option>
                                                        </select>
                                                    </div>
                                                    <div class="input-group" style="display: none;">
                                                        <label for="corner-style">Corner Style:</label>
                                                        <select id="corner-style">
                                                            <option value="square">Square</option>
                                                            <option value="dot" selected>Dot</option>
                                                            <option value="extra-rounded">Extra Rounded</option>
                                                            <option value="triangle">Triangle</option>
                                                            <option value="diamond">Diamond</option>
                                                        </select>
                                                    </div>
                                                    <div class="input-group" style="display: none;">
                                                        <label for="gradient">Apply Gradient:</label>
                                                        <select id="gradient">
                                                            <option value="none">None</option>
                                                            <option value="linear">Linear</option>
                                                            <option value="radial">Radial</option>
                                                        </select>
                                                    </div>
                                                    <div class="input-group" style="display: none;">
                                                        <label for="logo" id="AddLogoLang">Logo hinzufügen
                                                            (optional):</label>
                                                        <input type="file" id="logo" accept="image/*">
                                                    </div>
                                                    <!-- Submit Button Added Here -->


                                                    <div class="hover-wrapper">
                                                        <!-- <div class="image-wrapper">
                                                            <img src="/images/ICONS CONTEXT.png" alt="Icon 1" class="image-box">
                                                            <img src="/images/ICONS DOWNLOAD.png" alt="Icon 2" class="image-box">
                                                            <img src="/images/ICONS PRINT.png" alt="Icon 3" class="image-box">
                                                        </div> -->

                                                        <!-- Content that appears on hover -->
                                                        <div>
                                                            <!-- <div class="hover-content"> -->

                                                            <button class="submit-btn" id="submit-btn-generate"> <img
                                                                    src="/images/ICONS CREATE.png" alt="Icon"
                                                                    class="btn-icon" />
                                                                <span class="btn-text">VibeCode
                                                                    erstellen</span></button>


                                                            <button class="submit-btn" id="submit-btn-update">
                                                                <img src="/images/ICONS CONTEXT.png" alt="Icon"
                                                                    class="btn-icon" />
                                                                <span class="btn-text"> Inhalt des
                                                                    VibeCodes
                                                                    ändern</span>
                                                            </button>


                                                            <button class="submit-btn" id="downloadQRCode"
                                                                onclick="downloadQRCode()">
                                                                <img src="/images/ICONS DOWNLOAD.png" alt="Icon"
                                                                    class="btn-icon" />
                                                                <span class="btn-text"> VibeCode
                                                                    herunterladen</span>
                                                            </button>

                                                            <div>
                                                                <button class="submit-btn" id="PrintMyQR"
                                                                    style="visibility: hidden;" onclick="PrintMyQR()">
                                                                    <img src="/images/ICONS PRINT.png" alt="Icon"
                                                                        class="btn-icon" />
                                                                    <span class="btn-text"> Inhalt des
                                                                        VibeCodes
                                                                        ändern</span>
                                                                </button>
                                                            </div>

                                                        </div>
                                                    </div>


                                                    <div id="qr-code"></div>
                                                </div>
                                                <% } %>
                                                    <!-- Show Section -->
                                                    <% if (activeSection==='show' ) { %>
                                                        <div id="show-section" class="fade-in">
                                                            <!-- Include the header partial -->
                                                            <%- include('../components/qr-gallery'); -%>
                                                        </div>
                                                        <% } %>
                                                            <!-- User Profile Section -->
                                                            <% if (activeSection==='profile' ) { %>
                                                                <!-- Include the header partial -->
                                                                <%- include('../components/profile'); -%>
                                                                    <% } %>

                                                                        <% if (activeSection==='usercontrol' ) { %>
                                                                            <!-- Include the header partial -->
                                                                            <%- include('../components/usercontrol');
                                                                                -%>
                                                                                <% } %>
                                    </div>


                                    <% if (user.role !=='admin' ) { %>
                                        <select id="languageSwitcher">
                                            <option value="en">English</option>
                                            <option value="de">Deutsch (German)</option>
                                            <!-- <option value="hu">Magyar (Hungarian)</option> -->
                                        </select>

                                        <button class="logout-btn fade-in" id="LongOutLang"
                                            onclick="return handleLogout(event)">Ausloggen</button>
                                        <% } %>


                                            <script src="/js/dashboard.js"></script>
                                            <script
                                                src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.12.0/toastify.min.js"></script>
                                            <script src="/js/toastify-setup.js"></script>
                                            <script src="/js/generateqr-api.js"></script>
                                            <script src="/js/api-calls.js"></script>
                                            <!-- Add this script to ensure API calls are loaded -->
                                            <script>
        <% if (activeSection === 'generate' && qrCode) { %>
            // Pass qrCode data to the JavaScript function if available and activeSection is 'generate'
            const qr = <%- JSON.stringify(qrCode) %>;
                                                    const user = <%- JSON.stringify(user) %>;
                                                    showGenerateSection(qr, user);
        <% } %>
                                            </script>
                                            <script src="/js/translations.js"></script>
                                            <script>
            function OpenSite() {
                let lang = document.getElementById("languageSwitcher").value
                if (lang == "hu") {
                    window.open('https://magicprints.studio/', '_blank')
                } else {
                    window.open('https://textildruck-schweiz.com/', '_blank')
                }
            }
                                            </script>
                                            <script>
                                                    <% if (typeof message !== 'undefined' && message && type !== 'none' && type !== 'hidden') { %>
                                                        showToast("<%= message %>", "<%= type || 'success' %>");
                                            <% } %>
                                            </script>


</body>

</html>